#characterName,
#characterClass,
#characterLevel,
#characterBackground,
#characterRace,
#characterAlignment,
#characterDeity,
#characterSize,
#characterAge,
#characterGender,
#characterHeight,
#characterWeight,
#characterEyes,
#characterHair {
    outline: none;
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color:transparent !important;
    border-bottom: 1px solid black;
}

#character-sheet {
/*   background-image: url("../../assets/images/parchment.jpg");
   background-repeat: repeat;*/
}